marquee{
    font-size: 30px;
    background-color: blue;
    color: red;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: bisque;
    border-radius: 10px;
    font-family: 'Times New Roman';
}

p{
    font-size: 25px;
}
[src $= ".jpg"]
{
    border: 3px solid orange;
    align-items : right;
}

table,th,td{
    text-align: center;
    font-size: 20px;
    text-decoration: dotted;
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    width:fit-content;
}

th{
    background-color:yellow;
}
ol
{
    font-size: 20px;
}

body{
    background-color:burlywood;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman';
}
