table,tr,th{
    border: 3px solid black;
    height: 100px;
    width: 1895px;
    background-color: yellow;
}
marquee{
    text-align: center;
    background-color: violet;
    color: red;
    font-size: 40px;
}
img{
    margin: auto;
}
section{
    border-radius: 10px;
    background-color: bisque;
    text-align: center;
}
.st{
    border-radius: 20px;
    background-color:chocolate;
    text-align: left;
    font-size: 30px;
}
h5{
    text-align: center;
}
body{
    border-radius: 10px;
    background-color: burlywood;
}
.sst
{
    background-color: darkblue;
    color: white;
    text-align: left;
    height: fit-content;
    width: 18%;
    font-size: 20px;
}
.img 
{
    background-image: url("bg.jpeg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 800px;
    overflow: auto;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 50px;
    object-fit: contain;
    object-position: -20% 0%;
}
.img::after 
{
  content: "";
  clear: both;
  display: table;
}
.text {
  width: 640px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
.text {
  padding-left: 100px;
  padding-right: 100px;
}