marquee{
    font-size: 30px;
    background-color:blue;
    color: red;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

p{
    font-size: 25px;
}
[src $= ".jpg"]
{
    border: 3px solid orange;
    align-items : right;
}

table,th,td{
    text-align: center;
    font-size: 20px;
    text-decoration: dotted;
    border: 2px solid black;
    border-collapse: collapse;
}

th{
    background-color:yellow;
}
ol
{
    font-size: 20px;
}